*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jacquard 24 Charted", system-ui;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Jacquard+24+Charted&display=swap');
.main{
    width: 100%;
    height: 100vh;
    background-image: url('../img/bg1.png');
    background-size: cover;
}
.overlay{
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}
.title{
    margin-top:10px 0;
    font-size: 2.5em;
    color: #fffbfb;
    text-align: center;
}
.col{
    width: 1000px;
    height: 100px;
    margin: 20px auto ;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    color: #fffbfb;
}
.col div{
    width: 250px;
    text-align: center;
}
input{
    border-color: transparent;
    border-radius: 20px;
    width: 70%;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 30px;
}